{{!-- <h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p> --}}
<section class="margin-top-body">
<h1 class="homepage-heading">Japanese Kanji Flashcards</h1>

<div class="homepage-search-container">
<h2>Kanji Search</h2>

<form action="/" method="GET">
 <input type="text" name="q" placeholder="Enter a search">
    <button type="submit">Search</button>
</form>

{{#if result}}
    <h2>Result</h2>
    {{#if result.length}}
      <ul>
        {{#each result}}
           <li><a class="kanji-link" href="/{{this.kanji.character}}/details">{{this.kanji.character}}</a></li>
         
        {{/each}}
      </ul>
    {{else}}
      <p>No results found.</p>
    {{/if}}
  {{/if}}

  </div>

  </section>

