* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-color: #faf7f0;
  font-family: 'Noto Sans', sans-serif;
}


/* Home Page */

.nav-bar {
  background-color: #8B0000 ;
  padding: 2rem 0 2.2rem 2.8rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 3.4rem;
  box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.05) ;
}

.nav-bar a:link, .nav-bar a:active {
  display: block;
  position: relative;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.5s;
}

.nav-bar a:hover {
transform: scale(1.25);
} 

.nav-bar a:visited {
color: #000;
}

.logout-container {
  display: flex;
  align-items: center;
}

.logout-container button {
  font-size: 1.8rem;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px;
  border-radius: 5px;
  background-color: #faf7f0;
  color: #000;
  border: none;
}

.homepage-heading {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-size: 5rem;

}

.homepage-search-container {
  width: 50%;
  height: 45rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: #e8cccc;
  border-radius: 0.9rem;
  box-shadow: 0 5px 15px 9px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;

}

.homepage-search-container h2 {
font-size: 3rem;
}

.homepage-search-container form {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.homepage-search-container form input {
  width: 50%;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #faf7f0;
  color: #8B0000;
  font-weight: 500;
}

.homepage-search-container form button {
  font-size: 1.6rem;
  padding: 1rem 1.6rem;
  border-radius: 1rem;
  border: none;
  background-color: #faf7f0;
  color: #000;
  font-weight: 700;
  cursor: pointer;
}

.homepage-search-container ul li, .homepage-search-container ul li {
  list-style: none;
  font-size: 5.4rem;
  margin-bottom: 1.8rem;
  text-decoration: none;
}

.kanji-link:link, .kanji-link:active {
color: #000;
text-decoration: none;
}

.kanji-link:hover, .kanji-link:visited {
  color: #000;
}

/* Sign up page */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 7rem;
  padding: 3rem 1rem;
  box-shadow: 3px 3px 15px 5px rgb(0, 0, 0, 0.05);

  position: relative;
}

.signup-container::before {
  content: "";
  background-image: url('../images/kanji1.jpg') ;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
  border-radius: 9px;
}

.signup-container h1 {
  font-size: 5rem;
  margin-bottom: 2.4rem;
  z-index: 10;
}

#form-signup {
width: 90%; 
display: flex;
flex-direction: column;
align-items: center;
gap: 2.6rem;
margin: 1rem 0;
z-index: 10;
}

.input-signup {
  width: 40rem;
  font-size: 2.2rem;
  padding: 0.7rem 5px;
  border-radius: 5px;
  border: none;
  background-color:#faf7f0;
  box-shadow: 3px 3px 5px 3px rgb(0, 0, 0, 0.03);
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
}

.btn-singup {
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #faf7f0;
  font-weight: 900;
  color:#000;
  box-shadow: 3px 3px 15px 5px rgb(0, 0, 0, 0.1);
}

/* LOGIN container */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 7rem;
  padding: 3rem 1rem;
  box-shadow: 3px 3px 15px 5px rgb(0, 0, 0, 0.05);
  position: relative;
}

.login-container::before {
  content: "";
  background-image: url('../images/kanji1.jpg') ;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
  border-radius: 9px;
}

.form-login {
  width: 90%; 
display: flex;
flex-direction: column;
align-items: center;
gap: 2.6rem;
margin: 1rem 0;
z-index: 10;
}

.login-container h1 {
  font-size: 5rem;
  z-index: 10;
  color: #000;
}

/* Kanji Details */

.kanji-details-container {
  background-color: #e8cccc;
  width: 60%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  border-radius: 11px;
  box-shadow: 3px 3px 15px 5px rgb(0, 0, 0, 0.05);

}

.kanji-details-container h1 {
  font-size: 10rem;
}

.kanji-box {
  display: flex;
  gap: 5rem;
  margin-bottom: 2rem;
}

.kanji-box span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.kanji-box span h3 {
  font-size: 2rem;
}
.kanji-box span p {
  font-size: 1.8rem;
}

.kanji-box2 {
  text-align: center;
  font-size: 1.6rem;
}

.kanji-box2 h3 {
  padding: 0.5rem;
}

.kanji-box3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.kanji-box3 h3 {
  font-size: 1.8rem;
}

.kanji-box3 ul {
  list-style: none;
  font-size: 1.5rem;

}

.kanji-box3 ul li {
  margin-bottom: 0.7rem;
}

.kanji-details-audio {
  margin-bottom: 2rem;
}

.flashCard-details-link:link, .flashCard-details-link:active {
font-size: 1.8rem;
text-decoration: none;
color: #000;
}

.flashCard-details-link:hover, .flashCard-details-link:visited {
color: #000;
}

.kanji-box4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kanji-box4 h3 {
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}

.kanji-box4 img {
  max-width: 100%;
}

.kanji-box4 div {
  padding: 0.5rem;
} 

.kanji-box5 {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}



.flashCard-update-link:link, .flashCard-update-link:active {
  font-size: 2rem;
  text-decoration: none;
  color: #000;
  background-color: #faf7f0;
  padding: 0.9rem 1.1rem;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 3px 3px 15px 5px rgb(0, 0, 0, 0.05);
}

#flashCard-delete-btn {
  font-size: 2rem;
  padding: 0.9rem 1.1rem;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 3px 3px 15px 5px rgb(0, 0, 0, 0.05);
  border: none;
  background-color: #8B0000;
  color: #faf7f0;
  
}

/* All My FlashCards Page */

.all-myFlashCard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.all-myFlashCard-container h1 {
  font-size: 5rem;
}

.flashCards-box {
  display: flex;
  gap: 2.8rem;
  flex-wrap: wrap;
  margin-top: 3.5rem;
  padding: 1rem;
}

.eachFlashCard-box {
  text-align: center;
  background-color: #e8cccc;
  max-width: 20rem;
  padding: 1rem 2rem;
  border-radius: 9px;
  box-shadow: 3px 3px 17px 5px rgb(0, 0, 0, 0.09);
}

.eachFlashCard-box h2 {
font-size: 4rem;
}

.eachFlashCard-box h3 {
  font-size: 2.2rem;
}

.eachFlashCard-link:link, .eachFlashCard-link:active {
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  color: #000;
}

.eachFlashCard-link:hover, .eachFlashCard-link:visited {
  color: #000;
}

/* New FlashCard Page */

.newFlashCard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.newFlashCard-container h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.newFlashCard-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.part1 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.part1 div:first-child {
  margin-top: 2rem;
}


#newCard-btn {
  justify-self: center;
  margin-top: 3rem;
  font-size: 2.4rem;
  padding: 0.9rem 1.1rem;
  border-radius: 9px;
  border: none;
  background-color: #8B0000;
  color: #faf7f0;
  cursor: pointer;
}

.input-newCard, .newCard-text-exampleInput {
  width: 40rem;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 3px solid rgba(0, 0, 0, 0.11);
  background-color: #f3e6e6;
  color: #000;
}

.newCard-uploadImage {
  display: flex;
  flex-direction: column;
}

.newCard-uploadImage label {
  font-size: 2rem;
  padding: 0.5rem 0 1.4rem 0;
}

.newCard-uploadImage input::file-selector-button {
  font-size: 1.6rem;
  border-radius: 9px;
  border: none;
  padding: 0.5rem 0.7rem;
  font-family: 'Noto Sans', sans-serif;
  background-color: #e8cccc;
  cursor: pointer;

}

.part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.example-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-field label {
  font-size: 2rem;
  margin-top: 1.6rem;
  margin-bottom: 1.2rem;
}

.newCard-upload-audio::file-selector-button {
  font-size: 1.6rem;
  border-radius: 9px;
  border: none;
  padding: 0.5rem 0.7rem;
  font-family: 'Noto Sans', sans-serif;
  background-color: #e8cccc;
  margin-bottom: 1.6rem;
  cursor: pointer;
}

#addExampleBtn {
  font-size: 1.6rem;
  margin-top: 3.4rem;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  border: none;
  background-color: #e8cccc;
  font-family: 'Noto Sans', sans-serif;
  cursor: pointer;
}
