<section class="margin-top-body">
<div class="addAudio-container">
<h1>Add Text Examples and Audio Examples (optional)</h1>



<form action="/flashCards/add-audio/{{theCardAudio._id}}" method="POST" enctype="multipart/form-data">
<div id="exampleFieldsContainer">
  <div class="example-field">
    <input class="newCard-text-exampleInput" type="text" name="theText[]" required placeholder="Enter example text">
    <label class="hide-upload-function">Upload example audio (optional)</label>
    <input class="newCard-upload-audio" type="file" name="theAudio" multiple>
  </div>
</div>
<button id="addExampleBtn" type="button">Add More Examples</button>

<button class="newCard-btn" type="submit">Create New FlashCard</button>
</form>



</div>

<script src="/js/newFlashCard.js"></script>

</section>

