<h1>Add Text Examples and Audio (optional)</h1>

<div class="part2">

<form action="/flashCards/add-audio/{{theCardAudio._id}}" method="POST">
<div id="exampleFieldsContainer">
  <div class="example-field">
    <input class="newCard-text-exampleInput" type="text" name="theText[]" required placeholder="Enter example text">
    <label>Upload example audio (optional)</label>
    <input class="newCard-upload-audio" type="file" name="theAudio"  >
  </div>
</div>
<button id="addExampleBtn" type="button">Add More Examples</button>

<button type="submit">Save</button>
</form>

</div>

