<div class="newFlashCard-container">
<h1>Create New FlashCard</h1>

<form class="newFlashCard-grid-container" action="/flashCards/create-flashCard" method="POST" enctype="multipart/form-data">
<div class="part1">
<div>
<input class="input-newCard" type="text" name="theKanji"  placeholder="Enter Kanji">
</div>


<div>
<input class="input-newCard" type="text" name="theMeaning"  placeholder="Enter english meaning">
</div>

<div>
<input class="input-newCard" type="text" name="theOnyomi"  placeholder="Enter onyomi reading">
</div>

<div>
<input class="input-newCard" type="text" name="theKunyomi"  placeholder="Enter kuyomi reading">
</div>

<div>
<input class="input-newCard" type="number" name="theStrokes"  placeholder="Enter number of strokes">
</div>

<div>
<input class="input-newCard" type="text" name="theGrade"  placeholder="Enter grade or level">
</div>

<div>
<input class="input-newCard" type="text" name="theLink"  placeholder="Enter link to extra sources">
</div>

<div class="newCard-uploadImage">
  <label>Upload stroke order image</label>
<input type="file" name="theStrokeOrder" >
</div>

</div>



<div class="part2">


<div id="exampleFieldsContainer">
  <div class="example-field">
    <input class="newCard-text-exampleInput" type="text" name="theText[]" required placeholder="Enter example text">
    <label>Upload example audio (optional)</label>
    <input class="newCard-upload-audio" type="file" name="theAudio[]" accept="audio/*" >
  </div>
</div>
<button id="addExampleBtn" type="button">Add More Examples</button>

</div>



<button id="newCard-btn" type="submit">Create New FlashCard</button>


</form>

</div>

<script src="/js/newFlashCard.js"></script>