<h1>Create a FlashCard</h1>
<br>
<form action="/flashCards/create-flashCard" method="POST">
<div>
<label>Enter kanji</label>
<input type="text" name="theKanji" id="">
</div>

<br> 

<div>
<label>Enter meaning in English</label>
<input type="text" name="theMeaning" id="">
</div>

<br>

<div>
<label>Enter onyomi reading</label>
<input type="text" name="theOnyomi" id="">
</div>

<br>

<div>
<label>Enter kunyomi reading</label>
<input type="text" name="theKunyomi" id="">
</div>

<br>

<div>
<label>Enter number of strokes</label>
<input type="number" name="theStrokes" id="">
</div>

<br>

<div>
<label>Enter grade</label>
<input type="text" name="theGrade" id="">
</div>

<br>

<div>
<label>Enter usage example text</label>
<input type="text" name="theText" id="">
</div>

<br>

<div>
<label>Enter usage example audio (optional)</label>
<input type="file" name="theAudio" id="">
</div>

<br>

<div>
<label>Enter link to resources (for example, Kenkyusha Luminous Japanese-English Online Dictionary )</label>
<input type="text" name="theLink" id="">
</div>

<br>

<div>
<label>Enter Stroke Order Image(s)</label>
<input type="text" name="theStrokeOrder" id="">
</div>

<br>

<button type="submit">Create a FlashCard</button>






</form>