<section class="margin-top-body">
<form class="update-form-container margin-top" action="/flashCards/update-audio/{{theAudioText._id}}" method="POST" enctype="multipart/form-data">

{{#each theAudioText.examples}}
<div class="update-inpute-box">
<label> Usage example text</label>
<input type="text" name="theText[]" id="" value="{{this.text}}">
</div>

<a href="#" id="upload-audio-link" class="uploadImglink">Click Here to Upload a New Audio</a>
<div class="stoke-order-file-container" >
<input id="upload-new-audio" class="file-upload-img" type="file" name="theAudio" value="{{this.audio}}">
</div>
{{/each}}

<button class="btn btn-update" type="submit">Save</button>

</form>


<script src="/js/editAudio.js"></script>

</section>