<div>
  <h1>Create a Note</h1>
  <form action="/note/create-note/{{flashcardId}}" method="POST">
  <div>
    <label>Give a Title to a Note</label>
    <input type="text" name="theTitle" id="" placeholder="Enter title">
  </div>

    <div>
    <label>Content</label>
    <input type="text" name="theContent" id="" placeholder="Enter content">
  </div>

  <button type="submit">Save note</button>

  </form>
</div>