<section class="margin-top-body">
<h1>Update This Note</h1>
<form class="update-form-container" action="/note/update-note/{{theNote._id}}" method="POST">
  <div class="update-note-flex">
    <label>Title to a Note</label>
    <input type="text" name="theTitle" id="" placeholder="Enter title" value="{{theNote.title}}">
  </div>

    <div class="update-note-flex">
    <label>Content</label>
    <textarea name="theContent"  cols="40" rows="7">{{theNote.content}}</textarea>
  </div>

  <button class="btn btn-update" type="submit">Update</button>

  </form>

  </section>