
  

<div class="login-container">
  <h1>Log in</h1>
 
  <form action="/user/login" method="POST" class="form-login">
 
    <label>
      <input class="input-signup" type="text" name="username" placeholder="Enter name" />
    </label>
 
    <label>
      <input class="input-signup" type="password" name="password" placeholder="Enter password" />
    </label>
 
    <button class="btn-singup" type="submit">Login</button>
 
  </form>
</div>

