<div class="signup-container">
<h1>Sign up</h1>

<form action="/user/signup" method="POST" id="form-signup">
<label>
  <input type="text" name="username" placeholder="Enter name" class="input-signup">
</label>

<label>
  <input type="email" name="email"  placeholder="Enter e-mail" class="input-signup">
</label>

<label>
  <input type="password" name="password" placeholder="Enter password" class="input-signup">
</label>

<button class="btn-singup" type="submit">Create an account</button>

{{!-- {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}} --}}


</form>

</div>