{{!-- <h1>User Profile Page</h1>
{{#if theUserObject}}
  <h2>Welcome, {{ theUserObject.username }}!</h2>
  <p>This is your profile page my friend!</p>
 
{{/if}} --}}

<div class="userProfile-container">
<h1>Welcome, {{theUserObject.username}}!</h1>
</div>

{{!-- <h3>FlashCards</h3>

{{#each theUserObject.flashCards}}
<div>
  <h2>{{this.kanji}}</h2>
  <h4>{{this.meaning}}</h4>
</div>
{{/each}} --}}
